
/* td as b-td  tr as b-tr */

.comp2-main {
    font-family: 'Arial', sans-serif;
    color: #ccc;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #292942;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    margin: 0 0 20px 0;
    color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 10px;
}

th {
    color: #888;
    border-bottom: 1px solid #444;

}

td {
    border-bottom: 1px solid #444;

    
}

td img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
    display: inline;
}

td span {
    display: block;
    color: #888;
    font-size: 0.9em;
}

.progress-bar {
    background-color: #333;
    border-radius: 5px;
    overflow: hidden;
    width: 100px;
    height: 10px;
    margin: 5px 0;
}

.progress {
    height: 10px;
    background-color: #4caf50;
    border-radius: 5px;
}

button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #4caf50;
    color: #fff;
}
