

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.text{

    
}
.services-container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.service-card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-card img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #ddd;
}

.service-info {
    padding: 20px;
}

.service-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.service-info p {
    color: #666;
    font-size: 16px;
}